<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pad {
    padding-left: 80px;
}

.lobster {
    font-size: 32px;
    font-family: lobster;
  }

body {
    background:#c6faf1;
  }   
</style>

<body1>
  <ul>
    <li><a class="lobster">Anagram Solver</a></li>
   </ul> 
</body1>   

{% block content %}
<body>
<form method="post">
    <div class="pad">
        <p>
                Your anagrams are: <br>
                {% if not myWords %} 
                    <b>Come on, that's not a word!</b>  
                {% else %}                 
                    {% for word in myWords %}
                        {{ word.upper() }}
                        <br>
                    {% endfor %}
                {% endif %}    
               
        </p>
    </div>
    <div>
        <a href="{{ url_for('index') }}">Another Anagram</a>
    </div>
</form>
</body>
{% endblock content %} 
